aiohttp>=3.8.1
async-timeout>=3.0.1
asyncio>=3.4.3
asyncpg>=0.22.0
attrs>=20.3.0
beautifulsoup4>=4.11.1
chardet>=4.0.0
coc.py>=2
disnake>=2.8.1
idna>=3.1
loguru>=0.5.3
multidict>=5.1.0
nest-asyncio>=1.5.1
PyYAML>=5.4.1
soupsieve>=2.2
typing-extensions>=3.7.4.3
emoji>=2.2.0
grapheme>=0.6.0
pytz>=2022.1
pandas>=1.4.2
matplotlib>=3.5.2
requests>=2.22.0
Pillow>=7.0.0